# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Temporary source workbooks
data/raw/*.xlsx

reports/


# Generated models
models/*
!models/.gitkeep